html,
body,
#root {
    height: 100%;
}

@media screen and (max-width: 600px) {
    html {
        overflow: hidden;
        width: 100%;
    }
    body {
        height: 100%;
        /* prevent  overscroll bounce on mobile */
        position: fixed;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
